body, #slider, .wrap, .content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url(https://picsum.photos/1200/?random);
}

.slide2 {
  background-image: url(https://picsum.photos/1000/?random);
}

.slide3 {
  background-image: url(https://picsum.photos/1100/?random);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content h1
{
  font-size: 70px;
}
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 0;
  height: 0;
  border: solid;
}
#arrow-left {
  border-width: 30px 40px 30px 0;
  left: 0;
  margin-left: 30px;
  border-color: transparent #fff transparent transparent;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  right: 0;
  margin-right: 30px;
  border-color: transparent transparent transparent #fff;
}
